main a:hover {
    color: pink;
}

main a:active {
    color: violet;
}

main {
    border: 0.25vw solid grey;
}

.hero {
    height: 50vw;
    width: auto;
    background-image: url("hero.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }

.titrehero {
    font-size: 7vw;
    text-align: center;
    font-weight: bold;
}

section div a {
    color: white;
    text-decoration: none;
}
